@charset "UTF-8";
/* Colors */
/* fonts 

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

*/
/* Imports */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ------------- */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #F0F0F0; }

p {
  line-height: 1.7em;
  color: #383838;
  font-size: .9em;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  color: #383838; }

textarea:focus, input:focus {
  outline: 0; }

/* 1. Layouts */
.Layout {
  /* Catalogue*/
  /* */ }
  .Layout-content {
    max-width: 1100px;
    margin: 0 auto;
    height: 100%; }
  .Layout-slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/slide1.jpg") 100% 100%;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    height: 941px;
    width: 100%; }
  .Layout-infoStats {
    background: #e53935; }
  .Layout-whatView {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/collageMovies.jpg") 100% 100%;
    background-position: center;
    background-size: cover;
    height: 350px;
    max-height: 350px;
    width: 100%; }
  .Layout-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5em; }
  .Layout-checkAll {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/responsiveTablet.jpg") 100% 100%;
    background-position: center;
    background-size: cover;
    height: 350px;
    max-height: 350px;
    width: 100%; }
  .Layout-mainFooter {
    background: #333;
    width: 100%; }
  .Layout-sessionLayout {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/slide1.jpg") 100% 100%;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    height: 100vh;
    width: 100%; }
  .Layout-homeTop {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/main.jpg") 100% 100%;
    background-position: center;
    background-size: cover;
    min-height: 220px;
    height: 220px;
    width: 100%; }
  .Layout-mainWrapper {
    display: flex;
    flex-direction: column; }
  .Layout-homeModule {
    padding: 1.4em 0; }
  .Layout-mediaVideo {
    background: black;
    min-height: 250px; }
  .Layout-portadeMedia {
    height: 320px; }
  .Layout-actors {
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
    justify-content: space-between; }
  .Layout-navigation {
    display: flex;
    justify-content: center; }
  .Layout-fullwidth {
    display: flex;
    flex-direction: column; }
  .Layout-portadeMedia {
    position: relative; }
  .Layout-portadeMediaTop {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 4;
    bottom: 70px;
    height: 35px;
    width: 100%; }
  .Layout-portadeMediaMiddle {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 4;
    bottom: 35px;
    height: 35px;
    width: 100%; }
  .Layout-portadeMediaBottom {
    background: #D6D6D6;
    position: absolute;
    z-index: 4;
    bottom: 0;
    height: 35px;
    width: 100%;
    box-shadow: 1px 0px 5px black; }
  .Layout-profile {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 400px; }
  .Layout-principalContent {
    padding: .5em; }
  .Layout--centerFlex {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .Layout-fSidebar {
    padding: 1em; }
  .Layout--fSidebarWhite {
    background: white; }
  .Layout-topFix {
    margin-top: 45px; }
  .Layout-page {
    width: 100%; }

/* 2. Header  */
.MainTop {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .MainTop-buttonMenu, .MainTop-search {
    text-decoration: none;
    flex-basis: 8%;
    text-align: center;
    color: white;
    font-size: 1.1em; }
  .MainTop-logo {
    flex-basis: 80%;
    text-align: center;
    color: white;
    font-size: 1.5rem; }
  .MainTop-cAvatar {
    height: 100%;
    display: flex;
    align-items: center; }
  .MainTop-imgAvatar {
    height: 70%;
    border-radius: 50%; }
  .MainTop-notifications {
    margin-right: .5em; }

/* 3 Items */
.Slide {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1em; }
  .Slide-content {
    margin: 0 auto; }
  .Slide-mainText {
    font-size: 1.8em;
    color: white;
    font-syle: italic;
    text-align: center;
    font-weight: 300;
    margin: 0; }
  .Slide-session {
    margin: 2em auto; }
  .Slide-streamViews {
    display: none; }

.InfoStats {
  padding: .7em 0;
  text-align: center; }
  .InfoStats-mainText {
    margin: 0;
    color: white;
    font-size: 1.3em; }
  .InfoStats-text {
    color: white;
    font-weight: 200;
    font-size: 1.1em; }

.WhatView {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em; }
  .WhatView-wrapper {
    margin: 0 auto; }
  .WhatView-mainText {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.8rem; }
  .WhatView-text {
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center; }

.StreamViews {
  padding: 0 .9em; }
  .StreamViews-title {
    color: #e53935;
    font-size: 1.3em; }

.Featured {
  text-align: center;
  margin: 2rem 0; }
  .Featured-icon {
    color: #e53935;
    font-size: 5em;
    margin: 0; }
  .Featured-title {
    font-size: 1.5em;
    color: #383838;
    font-weight: 300;
    margin: .5em 0; }
  .Featured-infoText {
    font-weight: 200;
    padding: 0 2em;
    margin: .5em 0; }

.FlashView {
  display: flex;
  margin: 1.2em 0; }
  .FlashView-img {
    border-radius: 50%;
    width: 49px;
    height: 100%;
    margin-right: 1em; }
  .FlashView-content {
    flex-basis: 80%; }
  .FlashView-textAction {
    font-size: .8em;
    font-color: #383838; }
  .FlashView-time {
    margin: 0;
    font-size: .7em;
    font-weight: 300;
    font-color: #383838; }
  .FlashView-coverMedia {
    width: 40px;
    height: 100%; }
  .FlashView--darkAction {
    color: #757575; }
    .FlashView--darkAction b {
      color: #B0B0B0; }
  .FlashView--darkTime {
    color: #B0B0B0; }

.CheckAll {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100%; }
  .CheckAll-title {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.8rem; }
  .CheckAll-text {
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center; }

.Login-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }
.Login-field {
  width: 300px;
  margin: .3em 0; }
.Login-input {
  width: 100%;
  height: 50px;
  padding: .7em;
  border: none;
  box-sizing: border-box;
  font-weight: 300; }
.Login-submit {
  width: 100%;
  height: 50px;
  background: #d32f2f;
  border: none;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em; }
.Login-actions {
  width: 300px; }
.Login-registerButton {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: white;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: .6em 0;
  text-align: center; }
.Login-socialLogin {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: .9em 0;
  align-content: center;
  align-items: center; }
.Login-facebook, .Login-twitter, .Login-google {
  padding: .3em 1em;
  font-size: 1.5em;
  color: white; }
.Login-facebook {
  background: #3B5998;
  padding: .3em 1em; }
.Login-twitter {
  background: #55ACEE; }
.Login-google {
  background: #E02F2F; }

.SocialMini-text {
  color: white;
  font-size: 1.1em; }
.SocialMini-link {
  color: white;
  text-decoration: none;
  font-size: 1.8em; }

.Session {
  background: #f3f3f3;
  min-width: 320px; }
  .Session-titleContainer {
    background: #e53935; }
  .Session-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
    padding: .8em 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.3em; }
  .Session-subtitle {
    font-weight: 200;
    font-size: 0.9rem;
    text-align: center; }
  .Session-bottom {
    background: #dadada;
    display: flex;
    align-items: center;
    justify-content: center; }
  .Session-text {
    text-weight: 300;
    margin-right: .5em;
    font-size: 0.9em; }
  .Session-linkRegister {
    color: #e53935;
    font-weight: 500;
    font-size: .9em;
    text-decoration: none; }

.Notification {
  display: flex;
  align-items: center;
  position: relative; }
  .Notification-icon {
    color: #E9E7E7;
    font-size: 1.4em;
    cursor: pointer;
    text-decoration: none; }
  .Notification-number {
    border-radius: 10px;
    background: #d32f2f;
    color: white;
    padding: .2em;
    font-size: .7em;
    margin-left: -.3em; }

.Avatar {
  width: 100%; }
  .Avatar-img {
    border-radius: 50%;
    width: 100%; }

.CardHome {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center; }
  .CardHome-avatar {
    width: 50px; }
  .CardHome-top {
    text-align: center; }
  .CardHome-titleName {
    color: white;
    font-size: 1.4em;
    margin: 0; }
  .CardHome-subtitle {
    color: white;
    text-transform: uppercase; }

.HomeModule {
  padding: 0 .5em;
  margin: 0 0 1em 0; }
  .HomeModule-title {
    color: #383838;
    font-size: 1.35em;
    font-weight: 400;
    margin: .4em 0;
    text-decoration: none;
    animation: all 1.5s; }
    .HomeModule-title:hover {
      text-decoration: underline; }
  .HomeModule-icon {
    display: none;
    border-radius: 50%;
    background: #d32f2f;
    padding: 1em;
    color: white;
    align-self: flex-start;
    border: 1px solid transparent; }
    .HomeModule-icon:hover {
      border: 1px solid #d32f2f;
      background: white;
      color: #d32f2f; }
  .HomeModule-options {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-bottom: .5em;
    margin-top: 0.4em; }
  .HomeModule-textOptions {
    color: #00BAE0;
    font-size: .8em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    animation: all 1.5s;
    margin-right: 1.4em; }
    .HomeModule-textOptions:hover {
      color: black; }
    .HomeModule-textOptions i {
      font-size: 1.4em; }
  .HomeModule-items {
    padding: .8em 0; }
  .HomeModule-notifyText {
    color: #383838;
    margin: 0;
    font-weight: 300;
    font-size: 1.1em; }
  .HomeModule-linkText {
    font-weight: 600;
    text-decoration: none;
    color: #00BAE0;
    display: inline-block;
    font-size: .8em; }
  .HomeModule-subtitle {
    margin: 1em 0 .2em 0; }
  .HomeModule-pendingText {
    text-decoration: none;
    color: #383838;
    animation: 1s all; }
    .HomeModule-pendingText:hover {
      text-decoration: underline; }

.CardMedia {
  width: 333px;
  box-shadow: 1px 1px 2px #D4D4D4;
  margin-bottom: 1em;
  /* Other Actions for bottom large */ }
  .CardMedia-top {
    width: 100%;
    max-height: 187px;
    position: relative;
    z-index: -5; }
  .CardMedia-img {
    width: 100%; }
  .CardMedia-name {
    position: absolute;
    bottom: 13px;
    left: 18px;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-decoration: none;
    font-weight: 400; }
  .CardMedia-bottom {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: .5em .5em; }
  .CardMedia-cTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    animation: 1s all;
    color: #00BAE0;
    width: 90%; }
    .CardMedia-cTitle:hover {
      text-decoration: underline; }
  .CardMedia-episodeText {
    color: #383838;
    font-size: .8em;
    font-weight: 300; }
  .CardMedia-mainText {
    margin: 0 0 0 .5em;
    color: #00BAE0;
    font-weight: 300;
    font-size: .8em; }
  .CardMedia-iconView {
    color: #383838;
    font-size: 1.5em;
    text-decoration: none; }
  .CardMedia-bottomLarge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    height: 60px;
    align-items: flex-start;
    transition: .3s ease-in all;
    z-index: 20; }
    .CardMedia-bottomLarge:hover {
      height: 150px;
      transition: .3s ease-in all;
      margin-top: -92px; }
      .CardMedia-bottomLarge:hover .CardMedia-hiddenData {
        height: 63%;
        overflow: none; }
  .CardMedia--titleGrey {
    font-size: 1em;
    color: #424242;
    margin: 0; }
  .CardMedia-iconEllipsis {
    color: #383838;
    font-size: 1em;
    text-decoration: none; }
    .CardMedia-iconEllipsis:focus .CardMedia-bottomLarge {
      height: 140px;
      margin-top: -80px; }
  .CardMedia-hiddenData {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s ease-in all; }
  .CardMedia-linkHidden {
    color: #383838;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 1em; }
    .CardMedia-linkHidden:hover {
      color: black; }
  .CardMedia-coverFilm {
    width: 47%;
    margin-left: .5em;
    box-sizing: border-box; }
  .CardMedia-topFilm {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -5; }

.CardNotice {
  width: 100%;
  box-shadow: 1px 1px 2px gray; }
  .CardNotice-img {
    width: 100%; }
  .CardNotice-content {
    background: white;
    padding: 1em 1em; }
  .CardNotice-title {
    margin: 0;
    font-weight: 300; }
  .CardNotice-linkTitle {
    text-decoration: none;
    color: #3A3A3A; }
    .CardNotice-linkTitle:hover {
      color: #00BAE0;
      text-decoration: underline; }
  .CardNotice-description {
    font-size: .95em;
    font-weight: 300;
    color: #383838; }
  .CardNotice-linkMore {
    color: #00BAE0;
    text-decoration: none;
    font-weight: 500;
    font-size: .9em; }
    .CardNotice-linkMore:hover {
      text-decoration: underline; }
  .CardNotice-bottom {
    background: #E7E7E7;
    padding: 1.6em; }
  .CardNotice-date {
    font-size: .85em;
    font-weight: 300; }
  .CardNotice-author {
    color: #00BAE0;
    text-decoration: none;
    cursor: pointer; }
    .CardNotice-author:hover {
      text-decoration: underline; }

.Sidebar {
  background: white;
  height: 100%; }

.HomeModuleUser-top {
  background: #e53935;
  padding: 1em;
  text-align: center; }
  .HomeModuleUser-top:hover .HomeModuleUser-editIcon {
    display: inline-block; }
.HomeModuleUser-linkUser {
  color: white;
  text-decoration: none;
  margin: 0;
  font-weight: 200;
  font-size: 1.4em; }
  .HomeModuleUser-linkUser:hover {
    text-decoration: underline; }
.HomeModuleUser-editIcon {
  display: none;
  color: white;
  margin-left: .4em; }
.HomeModuleUser-content {
  display: flex;
  padding: 1em;
  border-bottom: solid 1px rgba(128, 128, 128, 0.2); }
.HomeModuleUser-statUser {
  margin-right: 1.2em; }
.HomeModuleUser-titleStat {
  font-size: .8em;
  font-weight: 300;
  color: #383838;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: .5em; }
  .HomeModuleUser-titleStat:hover {
    color: black; }

.Widget-top {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1em;
  display: flex;
  justify-content: space-between; }
.Widget-title {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  color: #383838; }
.Widget-iconAction {
  color: #383838; }
.Widget-content {
  padding: 1em; }

.FollowCard {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 1em 0; }
  .FollowCard-userPhoto {
    border-radius: 50%;
    width: 50px;
    height: 100%; }
  .FollowCard-content {
    width: 75%;
    margin-left: .8em; }
  .FollowCard-nameUser {
    font-size: .8em;
    font-weight: 400;
    margin: 0; }
  .FollowCard-textFollow {
    font-size: .8em;
    font-weight: 200;
    margin: 0; }
  .FollowCard-textAfinity {
    color: black;
    font-weight: 300;
    margin: 0;
    font-size: .7em; }
  .FollowCard-buttonFollow {
    color: white;
    padding: .6em 1.3em;
    background: #00BAE0;
    text-decoration: none;
    margin: 0;
    display: block;
    align-self: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
    transition: .3s all; }
    .FollowCard-buttonFollow:hover {
      background: rgba(0, 186, 224, 0.7); }

.ModuleFollow-bottom {
  text-align: right; }
.ModuleFollow-actionsText {
  color: #00BAE0;
  font-size: .9em;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  animation: all 1s; }
  .ModuleFollow-actionsText:hover {
    text-decoration: underline; }

.NotificationSlide {
  position: absolute;
  top: 43px;
  right: 0;
  width: 280px;
  background-color: #4D4D4D;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  display: none; }
  .NotificationSlide-mainText {
    color: white;
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 7px; }
  .NotificationSlide-content {
    position: relative;
    background-color: #5a5a5a;
    max-height: 335px;
    color: white;
    padding: 1.4em;
    font-size: .8em; }
  .NotificationSlide-bottom {
    display: block;
    padding: 6px 3px;
    font-size: 13px;
    text-align: center;
    background-color: #616161;
    color: white; }

.FilmView {
  width: 50%;
  border-bottom: solid 1px #2d2d2d;
  border-right: solid 1px #2d2d2d;
  box-sizing: border-box;
  transition: all .5s; }
  .FilmView-top {
    position: relative;
    z-index: -5; }
  .FilmView-imgCover {
    width: 100%; }
  .FilmView-iconTrailer {
    color: #d32f2f;
    position: absolute;
    top: -7px;
    left: 10px;
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 8px white;
    cursor: pointer;
    z-index: 10;
    transition: .5s all; }
    .FilmView-iconTrailer i:after {
      content: '';
      background: white;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      position: absolute;
      top: 29px;
      left: 3px;
      z-index: -1;
      height: 35%;
      width: 72%; }
    .FilmView-iconTrailer:hover {
      transform: scale(1.1); }
  .FilmView-vote {
    position: absolute;
    top: 18px;
    right: 11px; }
  .FilmView-iconStar {
    color: #FCCD44;
    font-size: 1.2em; }
  .FilmView-voteText {
    color: white;
    text-shadow: 1px 1px 1px black; }
  .FilmView-description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%; }
  .FilmView-title {
    color: white;
    font-weight: 400;
    padding: 0em 1em;
    text-shadow: 1px 1px 1px black; }
  .FilmView-year {
    color: #A8A8A8;
    font-size: .8em;
    text-shadow: 1px 1px 1px black; }
  .FilmView-bottom {
    background: #090909;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    height: 35px;
    align-items: center;
    flex-wrap: wrap;
    transition: all .5s;
    overflow: hidden; }
    .FilmView-bottom:hover {
      height: 120px;
      margin-top: -85px;
      z-index: 30; }
      .FilmView-bottom:hover .FilmView-hiddenData {
        display: flex;
        height: 50px; }
  .FilmView-languages {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 90%; }
  .FilmView-iconEllipsis {
    color: white;
    cursor: pointer; }
  .FilmView-hiddenData {
    display: flex;
    flex-direction: column;
    height: 0px;
    transition: all .7s;
    width: 100%;
    display: none; }
  .FilmView-linkHidden {
    text-decoration: none;
    color: white;
    font-weight: 300; }

.Language {
  height: 20px;
  margin-right: .5em; }
  .Language-img {
    width: 20px;
    height: 100%; }

.PageTitle {
  margin-top: 45px; }
  .PageTitle-title {
    color: white;
    margin: 0;
    font-weight: 400;
    font-size: 1.9em; }
  .PageTitle--titleBlack {
    color: #383838; }
  .PageTitle-infoTop {
    padding: 1em; }
  .PageTitle-subtitle {
    color: white;
    font-weight: 200;
    margin: .5em 0; }
  .PageTitle-bottomFilter {
    background: #222;
    padding: .5em;
    display: flex;
    flex-wrap: wrap; }
  .PageTitle-filter {
    margin-left: .5em;
    margin-bottom: .5em; }
    .PageTitle-filter select {
      background: transparent;
      outline: none;
      border: none;
      color: white;
      font-weight: 300; }

.MobileMediaVideo {
  position: relative;
  padding: 3em 0;
  text-align: center; }
  .MobileMediaVideo-title {
    margin: 0;
    color: white;
    font-size: 1em; }
  .MobileMediaVideo-subtitle {
    margin: 0;
    color: white;
    font-size: .7em; }
  .MobileMediaVideo-actions {
    margin-top: 1em;
    display: flex;
    flex-direction: column; }
  .MobileMediaVideo-button {
    background: rgba(128, 128, 128, 0.2);
    color: white;
    text-decoration: none;
    padding: 1em;
    margin-bottom: .5em; }
  .MobileMediaVideo-buttonBack {
    background: #d32f2f;
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block; }
  .MobileMediaVideo-num {
    position: absolute;
    top: 3em;
    background: #d32f2f;
    color: white;
    padding: .5em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: .5em;
    font-size: .7em; }

.PortadeMedia {
  position: relative;
  height: 100%; }
  .PortadeMedia-img {
    width: 100%;
    background-size: cover;
    height: 100%;
    box-shadow: 0px 0px 2em black; }
  .PortadeMedia-topLeft {
    position: absolute;
    top: 10%;
    right: 12px; }
  .PortadeMedia-points {
    display: flex;
    flex-direction: column; }
  .PortadeMedia-point {
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 1px black;
    align-self: flex-end;
    margin-bottom: .5em; }
  .PortadeMedia-pointInner {
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 1px black;
    align-self: flex-end;
    margin-bottom: .5em;
    display: none; }
  .PortadeMedia-miniDetails {
    color: white;
    font-size: .6em;
    text-transform: uppercase;
    margin: 0; }
  .PortadeMedia-buttonTrailer {
    text-decoration: none;
    color: white;
    display: block;
    background: #d32f2f;
    padding: .6em 1.2em;
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: .5em;
    text-align: center; }
  .PortadeMedia-iconStar {
    color: yellow;
    font-size: 1em; }
  .PortadeMedia-share {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    padding: .6em 1.2em;
    text-transform: uppercase;
    font-size: .8em; }
  .PortadeMedia-miniCover {
    position: absolute;
    width: 90px;
    height: 150px;
    border: 2px solid white;
    bottom: 13px;
    left: 21px;
    z-index: 20;
    box-shadow: 0px 0px 4em black; }
  .PortadeMedia-dateMedia {
    position: absolute;
    bottom: 98px;
    padding: .5em;
    z-index: 4;
    box-sizing: border-box;
    left: 30%; }
  .PortadeMedia-title {
    color: white;
    text-align: .9em;
    text-shadow: 1px 1px 1px black;
    position: relative;
    margin: 0; }
  .PortadeMedia-year {
    font-size: .7em;
    color: #CAC7C7; }
  .PortadeMedia-bottomInner {
    position: absolute;
    bottom: 70px;
    padding: .5em;
    z-index: 4;
    box-sizing: border-box;
    left: 30%; }
  .PortadeMedia-bottomData {
    position: absolute;
    bottom: 35px;
    display: flex;
    padding: .5em;
    z-index: 18;
    box-sizing: border-box;
    left: 30%; }
  .PortadeMedia-statMedia {
    color: white;
    margin: 0;
    font-size: .7em;
    margin-right: 1em;
    text-transform: uppercase;
    margin: 0 0.7em 0 0; }
  .PortadeMedia-statMediaText {
    color: #CAC7C7; }
  .PortadeMedia-bottomOut {
    position: absolute;
    bottom: 0;
    padding: .5em;
    z-index: 18;
    box-sizing: border-box;
    left: 30%; }
  .PortadeMedia-action {
    color: #d32f2f;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    margin-right: 1em;
    transition: .3s all; }
    .PortadeMedia-action:hover {
      color: black; }

.MainMedia {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .MainMedia-sidebar {
    display: none; }
  .MainMedia-content {
    padding: 1em .7em;
    width: 100%; }

.DetailsMedia-cText {
  display: flex;
  margin: .5em 0; }
.DetailsMedia-textTitle {
  margin: 0;
  color: #383838;
  text-transform: uppercase;
  font-size: .9em;
  min-width: 170px; }
.DetailsMedia-text {
  text-transform: capitalize;
  font-size: .8em;
  font-weight: 400;
  color: black; }
.DetailsMedia-sinopsis {
  margin: 1em 0; }
.DetailsMedia-sTitle {
  margin: .5em 0;
  text-transform: uppercase; }
.DetailsMedia-sInfo {
  margin: 0; }

.Fans {
  background: #383838;
  padding: .5em;
  margin-top: 1em; }
  .Fans-title {
    text-transform: uppercase;
    color: white;
    margin: 0; }
  .Fans-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
  .Fans-userImg {
    width: 70px;
    height: 100%;
    border-radius: 50%;
    margin-left: .1em; }
  .Fans-more {
    color: white;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent; }
    .Fans-more:hover {
      background: white;
      color: black;
      border: 1px solid black; }

.SlidePeoples {
  margin: 1em 0; }
  .SlidePeoples-content {
    display: flex;
    justify-content: space-between; }
  .SlidePeoples-authorImg {
    width: 100px;
    height: 150px; }
  .SlidePeoples-content {
    width: 100%;
    height: 150px; }
    .SlidePeoples-content ul li {
      float: left;
      display: inline-block; }

.Critics {
  display: flex;
  flex-direction: column; }
  .Critics-title {
    text-transform: uppercase; }
  .Critics-filter {
    display: flex;
    justify-content: flex-start;
    margin: 1.3em 0; }
  .Critics-fText {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9em;
    margin-right: 1em;
    font-weight: 300;
    font-style: italic; }
  .Critics--fActive {
    color: #d32f2f; }
  .Critics--fdisable {
    color: #383838; }

.FormComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 1em 0; }
  .FormComment-user {
    width: 50px;
    heigth: 100%;
    border-radius: 50%;
    align-self: flex-start; }
  .FormComment-formC {
    width: 86%; }
  .FormComment-form {
    display: flex;
    flex-direction: column; }
  .FormComment-textArea {
    border-radius: 10px;
    margin-bottom: .5em; }
  .FormComment-formSend {
    align-self: flex-end;
    width: 50%;
    background: #d32f2f;
    border: none;
    color: white;
    padding: .5em;
    text-transform: uppercase; }
  .FormComment--textAreaGray {
    background-color: #3b3b3b;
    padding: 1em;
    box-sizing: border-box;
    color: #A7A7A7;
    font-weight: 300;
    font-size: .9em;
    border: 1px solid transparent; }
  .FormComment--sendProfile {
    background: #00BAE0;
    width: 30%;
    font-weight: 300;
    font-size: .7em;
    padding: .4em; }

.Comment {
  margin-bottom: 1em; }
  .Comment-top {
    display: flex;
    background: #E6E6E6;
    justify-content: space-between;
    padding: 1em .3em; }
  .Comment-userImg {
    width: 50px;
    height: 100%;
    border-radius: 50%;
    margin-right: .5em; }
  .Comment-cMiddle {
    width: 80%; }
  .Comment-nameUser {
    margin: 0;
    color: #d32f2f; }
  .Comment-date {
    margin: 0;
    font-size: .8em; }
  .Comment-actions {
    width: 40%;
    display: flex;
    flex-direction: column; }
  .Comment-aText {
    color: #009edf;
    text-decoration: none;
    font-size: .9em;
    text-shadow: 1px solid black;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif; }
  .Comment-bottom {
    padding: .5em 2em;
    background: #fafafa; }

.Actor {
  width: 48%;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5);
  margin-bottom: 1em; }
  .Actor:nth-child(2n) {
    margin-left: .5em; }
  .Actor-top {
    height: 200px; }
  .Actor-img {
    width: 100%;
    margin: 0;
    padding: 0; }
  .Actor-bot {
    background: #E2E2E2;
    padding: .8em;
    border-bottom: 2px solid #333; }
  .Actor-name {
    margin: 0;
    padding: 0;
    font-size: .7em;
    text-align: center; }

.Navigation {
  margin-bottom: 1em; }
  .Navigation-next {
    padding: .7em 5em;
    color: white;
    background: #d32f2f; }

.ModuleActor {
  display: flex;
  flex-direction: column;
  padding: 0 1em; }
  .ModuleActor-card {
    margin-bottom: 1em; }
  .ModuleActor-mainContent {
    background: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 2em 1.5em; }

.CardActor {
  width: 250px;
  margin: 0 auto;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
  .CardActor-top {
    height: 300px;
    text-align: center; }
  .CardActor-bottom {
    background: white;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    text-align: center; }
  .CardActor-follow {
    color: #717171;
    margin: 0;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    text-decoration: none; }
    .CardActor-follow:hover {
      color: black; }

.InfoActor-filterText {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  font-weight: 300;
  padding: 10px 15px;
  transition: all 1s;
  font-family: 'Roboto Condensed', sans-serif; }
  .InfoActor-filterText:hover {
    border-bottom: 2px solid #d32f2f; }
.InfoActor-fActive {
  color: #d32f2f;
  border-bottom: 2px solid #d32f2f; }
.InfoActor-fDisable {
  color: #383838;
  border-bottom: 2px solid #383838; }
.InfoActor-content {
  margin: 2em 0; }
.InfoActor-dataText {
  font-weight: 400;
  font-size: .9em;
  margin: .5em 0; }
.InfoActor-text {
  font-weight: 300; }
.InfoActor-titleText {
  font-size: 1.3em;
  font-weight: 300;
  margin: 0; }

.SidebarLeft-sMenu {
  padding: 0; }
.SidebarLeft-sElement {
  list-style: none;
  margin: .5em 0;
  border-bottom: 1px solid rgba(149, 149, 149, 0.5);
  padding-bottom: .5em;
  font-weight: 500; }
.SidebarLeft-linkSection {
  text-transform: uppercase;
  text-decoration: none;
  color: #959595;
  font-size: .85em;
  transition: .5s all; }
  .SidebarLeft-linkSection:hover {
    color: black; }
.SidebarLeft--active {
  color: #d32f2f; }
.SidebarLeft-eMenu {
  padding: 0; }
.SidebarLeft-eElement {
  list-style: none;
  margin: 1em 0;
  font-weight: 500; }
.SidebarLeft-linkExternal {
  text-transform: uppercase;
  font-size: .85em; }
  .SidebarLeft-linkExternal i {
    color: #d32f2f; }

.ProfileCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }
  .ProfileCover-top {
    text-align: center; }
  .ProfileCover-userImg {
    width: 50px;
    heigth: 100%;
    border-radius: 50%; }
  .ProfileCover-name {
    color: white;
    font-weight: 300;
    font-size: 1.7em;
    margin: 0;
    text-shadow: 1px 1px 1px black; }
  .ProfileCover-infoUser {
    display: flex;
    color: white; }
  .ProfileCover-textUser {
    color: white;
    margin: .5em 1em .5em 0;
    font-size: .8em;
    text-shadow: 1px 1px 1px black; }
  .ProfileCover-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 0; }
  .ProfileCover-dataFollow {
    display: flex;
    flex-direction: column; }
  .ProfileCover-textInfo {
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .8em; }
  .ProfileCover-cButton {
    display: flex; }

.Button {
  margin: .5em; }
  .Button-blue {
    color: white;
    padding: .6em 1.3em;
    background: #00BAE0;
    text-decoration: none;
    margin: 0;
    display: block;
    align-self: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
    transition: .3s all; }
    .Button-blue:hover {
      background: rgba(0, 186, 224, 0.7); }

.ProfileTab {
  padding: 1em;
  text-align: center; }
  .ProfileTab-list {
    margin: 0;
    padding: 0; }
  .ProfileTab-element {
    display: inline-block;
    margin-right: 1em; }
  .ProfileTab-linkE {
    color: #AAA;
    font-weight: 300;
    font-size: 1.2em;
    text-decoration: none; }
    .ProfileTab-linkE:hover {
      color: white; }
  .ProfileTab--linkActive {
    color: white; }

.FilterControl {
  margin: 1em 1.5em; }
  .FilterControl-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(56, 56, 56, 0.3); }
  .FilterControl-element {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
  .FilterControl--lActive a,
  .FilterControl--lActive p {
    color: #d32f2f;
    font-weight: 600; }
  .FilterControl-link {
    color: #8e8e8e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .85em; }
    .FilterControl-link:hover {
      color: black; }
  .FilterControl-number {
    margin: .3em 0; }
  .FilterControl-select {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    background: white; }

.Collection {
  dispay: flex;
  flex-direction: column;
  padding: .5em; }
  .Collection-manager {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-top: 1em; }
  .Collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0; }
  .Filter-breadcrumb {
    width: 50%; }
  .Filter-bText {
    text-transform: uppercase; }
  .Filter-tActive {
    color: #d32f2f !important; }
  .Filter-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center; }
  .Filter-element {
    list-style: none;
    text-align: center;
    width: 49.5%;
    text-transform: uppercase;
    font-size: .9em;
    color: #383838;
    cursor: pointer; }
    .Filter-element:hover {
      color: #d32f2f; }

.FilterFull {
  margin: 1em 0; }
  .FilterFull-list {
    margin: 0;
    padding: 0; }
  .FilterFull-element {
    list-style: none;
    display: inline-block;
    color: white;
    margin-right: 1em;
    cursor: pointer;
    font-weight: 300; }
    .FilterFull-element:hover {
      color: #d32f2f; }
  .FilterFull-tActive {
    color: #d32f2f;
    font-weight: 500; }

.List {
  width: 50%;
  height: 250px;
  position: relative;
  overflow: hidden;
  transition: 1s all; }
  .List-bk {
    position: absolute;
    top: 0;
    transition: 1s all; }
  .List-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8); }
  .List-link {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }
    .List-link:hover .List-bk {
      transform: scale(1.3); }
  .List-innerC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
  .List-title {
    color: white;
    font-size: 1.4em;
    font-weight: 300;
    margin: 0; }
  .List-subtitle {
    color: white;
    margin: 0;
    font-size: .8em; }
  .List-followers {
    margin: 0;
    color: #BFBFBF;
    font-size: .7em; }

.Ads {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em; }
  .Ads-box {
    width: 320px;
    height: 250px;
    background: grey; }
  .Ads-728 {
    display: none;
    width: 728px;
    height: 90px;
    background: gray; }

/* 4. Footer */
.MainFooter {
  border-top: 0.4em solid #d32f2f;
  padding: 1em 1em;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column; }
  .MainFooter-logo {
    font-size: 2em;
    color: white; }
  .MainFooter-copyright {
    color: white;
    font-size: .8em;
    font-weight: 200; }

/* 5. Responsive - Mobile First */
@media (min-width: 768px) {
  .Layout-streamViews {
    display: none; }
  .Layout-mainWrapper {
    flex-direction: row;
    max-width: 1230px;
    margin: 0 auto; }
  .Layout-mainContainer {
    width: 80%; }
  .Layout-actors {
    padding: .5em 2em; }
  .Layout-mediaVideo {
    display: none; }
  .Layout-portadeMedia {
    height: 80vh; }
  .Layout-portadeVideo {
    width: 720px;
    height: 360px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-46%, -65%);
    background: rgba(0, 0, 0, 0.4); }
  .Layout-principalContent {
    width: 80%;
    padding: 1em; }
  .Layout-fullwidth {
    flex-direction: row;
    min-height: 1100px; }
  .Layout-fSidebar {
    min-width: 300px;
    position: relative; }
  .Layout-sidebarFixed {
    position: fixed;
    width: 300px; }
  .Layout-fContainer {
    margin: 1em;
    width: 80%; }

  .HomeModule {
    padding: 0 .5em;
    margin: 0 1em 1em 1em;
    display: flex; }
    .HomeModule-icon {
      display: flex;
      width: 10px;
      height: 10px;
      align-items: center;
      justify-content: center; }
    .HomeModule-container {
      border-left: 1px solid rgba(128, 128, 128, 0.3);
      margin-left: 1em;
      padding-left: 1em;
      position: relative; }
      .HomeModule-container:after {
        content: ' ';
        border-left: 1px solid #CCC;
        position: absolute;
        background-color: #f0f0f0;
        width: 10px;
        height: 10px;
        top: 10px;
        left: -6px;
        transform: rotate(45deg);
        border-bottom: 1px solid #CCC; }

  .Slide-content {
    flex-direction: row;
    display: flex; }
  .Slide-mainText {
    display: none; }
  .Slide-streamViews {
    display: block;
    background: rgba(255, 255, 255, 0.7);
    border-radius: .4em;
    box-shadow: 1px 1px 5px black;
    padding: .2em;
    margin-right: 2em; }

  .CardNotice {
    width: 333px;
    margin: 0 1em 1em 0; }

  .ModuleActor {
    display: flex;
    flex-direction: row; }
    .ModuleActor-mainContent {
      margin-left: 1em;
      padding: 2.5em; }

  .Actor {
    width: 21%; }
    .Actor:nth-child(2n) {
      margin-left: 0; }
    .Actor-top {
      height: 294px; }

  .Comment-actions {
    width: 75%;
    flex-direction: row; }
  .Comment-aText {
    margin-right: .5em; }

  .CardActor {
    width: 214px; }

  .PortadeMedia-miniCover {
    width: 173px;
    height: 256px;
    bottom: -37px; }
  .PortadeMedia-title {
    font-size: 1.6em; }
  .PortadeMedia-dateMedia, .PortadeMedia-bottomInner, .PortadeMedia-bottomData, .PortadeMedia-bottomOut {
    left: 19%; }

  .MainMedia {
    flex-direction: row;
    width: 100%; }
    .MainMedia-sidebar {
      display: block;
      width: 20%;
      margin-top: 3em;
      padding: 0 1.6em; }
    .MainMedia-content {
      padding: 1em .7em;
      width: 80%; }

  .Ads-728 {
    display: block; }

  .DetailsMedia {
    display: flex;
    justify-content: space-between;
    margin: 2em 0; }
    .DetailsMedia-main {
      width: 60%; }
    .DetailsMedia-sinopsis {
      width: 80%;
      margin: 0; }

  .FilmView {
    width: 33.33%; }

  .PageTitle-filter select {
    font-size: .9em; }

  .ProfileTab {
    text-align: left; }

  .Collection-container {
    margin-top: 1em; }

  .Filter {
    padding: 0; }
    .Filter-list {
      width: 80%;
      justify-content: flex-end; }
    .Filter-element {
      width: initial;
      margin-left: 1em;
      font-weight: 300; }

  .List {
    width: 33.33%; } }
@media (min-width: 1024px) {
  .Layout-slide1 {
    height: 100vh; }
  .Layout-mainContainer {
    width: 100%; }
  .Layout-sidebar {
    width: 44%; }

  .HomeModule-items {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap; }

  .CardMedia {
    width: 200px;
    margin: 0 1em 1em 0; }

  .CardNotice {
    width: 227px;
    margin: 0 1em 1em 0; }
    .CardNotice-description {
      font-size: .78em; }

  .FilmView {
    width: 25%; }

  .List {
    width: 20%; } }
@media (min-width: 1200px) {
  .List {
    width: 16.666%; } }
/*6 HJelpers */
/* 6. Helpers */
.featured-flex {
  display: flex;
  justify-content: space-between; }

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center; }

.title--grey {
  color: grey; }

.bold {
  font-weight: bold; }

.text-red {
  color: #d32f2f;
  font-weight: 500; }

.miniButton {
  color: #00BAE0;
  font-size: .7em;
  font-weight: 400;
  text-transform: uppercase;
  animation: all 1s;
  margin-left: .7em; }

.smallText {
  font-size: .8em; }

.mLeft7m {
  margin-left: 7em; }

.backgroundOscure {
  background-color: #1d1d1d; }

.bkGray {
  background-color: #222222; }

.bkDark {
  background-color: #292929; }

/*# sourceMappingURL=style.css.map */
