.Actor{ 
    width: 48%;
    box-shadow: 1px 1px 2px rgba(gray, 0.5);
    margin-bottom: 1em;
    &:nth-child(2n){
        margin-left: .5em;
    }
    &-top{
        height: 200px;
    }
    &-img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    &-bot{
        background: #E2E2E2;
        padding: .8em;
        border-bottom: 2px solid #333;
    }
    &-name{
        margin: 0;
        padding: 0;
        font-size: .7em;
        text-align: center;
    }
}