.Comment{
    margin-bottom: 1em;
    &-top{
        display: flex;
        background: #E6E6E6;
        justify-content: space-between;
        padding: 1em .3em;
    }
    &-userImg{
        width: 50px;
        height: 100%;
        border-radius: 50%;
        margin-right: .5em;
    }
    &-cMiddle{
        width: 80%;
    }
    &-nameUser{
        margin: 0;
        color: $mainRed;
    }
    &-date{
        margin: 0;
        font-size: .8em;

    }
    &-actions{
        width: 40%;
        display:flex;
        flex-direction: column;
    }
    &-aText{
        color: #009edf;
        text-decoration: none;
        font-size: .9em;
        text-shadow: 1px solid black;
        font-weight: 200;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
    }
    &-bottom{
        padding: .5em 2em;
        background: #fafafa;
    }
}