.Fans{
    background: #383838;
    padding: .5em;
    margin-top: 1em;
    &-title{
        text-transform: uppercase;
        color: white;
        margin: 0;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    &-userImg{
        width: 70px;
        height: 100%;
        border-radius: 50%;
        margin-left: .1em;
    }
    &-more{
        color: white;
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover{
            background: white;
            color: black;
            border: 1px solid black;
        }
    }

}