.FilmView{
    width:50%;
    border-bottom: solid 1px #2d2d2d;
    border-right: solid 1px #2d2d2d;
    box-sizing: border-box;
    transition: all .5s;
    &-top{
        position:relative;
        z-index: -5;
    }
    &-imgCover{
        width: 100%;
    }
    &-iconTrailer{
        color: $mainRed;
        position: absolute;
        top: -7px;
        left: 10px;
        font-size: 3em;
        margin: 0;
        padding: 0;
        text-shadow: 0px 0px 8px white;
        cursor:pointer;
        z-index: 10;
        transition: .5s all;
        i{
            &:after{
                content: '';
                background: white;
                padding: 0;
                margin: 0;
                border-radius: 50%;
                position: absolute;
                top: 29px;
                left: 3px;
                z-index: -1;
                height: 35%;
                width: 72%;
            }
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    &-vote{
        position: absolute;
        top: 18px;
        right: 11px;
    }
    &-iconStar{
        color: #FCCD44;
        font-size: 1.2em;
    }
    &-voteText{
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    &-description{
        position: absolute;
        bottom: 0;
        background: rgba(black, 0.4);
        width: 100%;
    }
    &-title{
        color: white;
        font-weight: 400;
        padding: 0em 1em;
        text-shadow: 1px 1px 1px black;
    }
    &-year{
        color:  #A8A8A8;
        font-size: .8em;
        text-shadow: 1px 1px 1px black;
    }
    &-bottom{
        background: #090909;
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
        height: 35px;
        align-items: center;
        flex-wrap: wrap;
        transition: all .5s;
        overflow: hidden;
        &:hover{
            height: 120px;
            margin-top: -85px;
            z-index: 30;
            .FilmView-hiddenData{
                display: flex;
                height: 50px;
            }
        }
    }
    &-languages{
        display: flex;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
    }
    &-iconEllipsis{
        color: white;
        cursor: pointer;

    }
    &-hiddenData{
        display:flex;
        flex-direction:column;
        height: 0px;
        transition: all .7s;
        width: 100%;
        display:none;
    }
    &-linkHidden{
        text-decoration: none;
        color: white;
        font-weight: 300;
    }

}