.FilterControl{
    margin: 1em 1.5em;
    &-list{
        margin:0;
        padding: 0;
        border-bottom: 1px solid rgba($textFont,0.3);
    }
    &-element{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
    &--lActive{
        a,
        p{
            color: $mainRed;
            font-weight: 600;         
        }
    }
    &-link{
        color: #8e8e8e;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: .85em;
        &:hover{
            color: black;
        }
    }
    &-number{
        margin: .3em 0;
    }
    &-select{
        width: 100%;
        border: 1px solid rgba(black, 0.2);
        outline: none;
        background: white;
    }

}