.FollowCard{
  display:flex;
  align-content: center;
  justify-content: space-between;
  margin: 1em 0;
  &-userPhoto{
    border-radius: 50%;
    width: 50px;
    height: 100%;
  }
  &-content{
    width: 75%;
    margin-left: .8em;
  }
  &-nameUser{
    font-size: .8em;
    font-weight: 400;
    margin: 0;
  }
  &-textFollow{
    font-size: .8em;
    font-weight: 200;
    margin: 0;
  }
  &-textAfinity{
    color: black;
    font-weight: 300;
    margin: 0;
    font-size: .7em;
  }
  &-buttonFollow{
    color: white;
    padding: .6em 1.3em;
    background: #00BAE0;
    text-decoration: none;
    margin: 0;
    display: block;
    align-self: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
    transition: .3s all;
    &:hover{
      background: rgba(#00BAE0,0.7);
    }
  }

}