.FormComment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin: 1em 0;
    &-user{
        width: 50px;
        heigth: 100%;
        border-radius: 50%;
        align-self: flex-start;
    }
    &-formC{
        width: 86%;
    }
    &-form{
        display: flex;
        flex-direction: column;
    }
    &-textArea{
        border-radius: 10px;
        margin-bottom: .5em;
    }
    &-formSend{
        align-self: flex-end;
        width: 50%;
        background: $mainRed;
        border: none;
        color: white;
        padding: .5em;
        text-transform: uppercase;
    }
    &--textAreaGray{
        background-color: #3b3b3b;
        padding: 1em;
        box-sizing: border-box;
        color: #A7A7A7;
        font-weight: 300;
        font-size: .9em;
        border: 1px solid transparent;
    }
    &--sendProfile{
        background: #00BAE0;
        width: 30%;
        font-weight: 300;
        font-size: .7em;
        padding: .4em;
    }
}