.Layout{
  &-content{
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
  }
  &-slide1{
    background: linear-gradient(
      rgba(black, 0.45), 
      rgba(black, 0.45)
    ), url('../img/slide1.jpg') 100% 100%;
    background-position: center;
    background-size:cover;
    min-height: 80vh;
    height: 941px;
    width:100%;
  }
  &-infoStats{
    background: $secondaryRed;
  }
  &-whatView{
    background: linear-gradient(
      rgba(black, 0.6), 
      rgba(black, 0.6)
    ), url('../img/collageMovies.jpg') 100% 100%;
    background-position: center;
    background-size:cover;
    height: 350px;
    max-height: 350px;
    width: 100%;
  }

  /* Catalogue*/ 
  &-films{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }
  /* */
  &-checkAll{
    background: linear-gradient(
      rgba(black, 0.6), 
      rgba(black, 0.6)
    ), url('../img/responsiveTablet.jpg') 100% 100%;
    background-position: center;
    background-size:cover;
    height: 350px;
    max-height: 350px;
    width: 100%;
  }
  &-mainFooter{
    background: #333;
    width: 100%;
  }
  &-sessionLayout{
    background: linear-gradient(
      rgba(black, 0.45), 
      rgba(black, 0.45)
    ), url('../img/slide1.jpg') 100% 100%;
    background-position: center;
    background-size:cover;
    min-height: 80vh;
    height: 100vh;
    width:100%;
  }

  &-homeTop{
    background: linear-gradient(
      rgba(black, 0.6), 
      rgba(black, 0.6)
    ), url('../img/main.jpg') 100% 100%;
    background-position: center;
    background-size:cover;
    min-height: 220px;
    height: 220px;
    width:100%;
  }

  &-mainWrapper{
    display:flex;
    flex-direction: column;
  }
  &-homeModule{
    padding: 1.4em 0;
  }

  &-mediaVideo{
    background: black;
    min-height: 250px;
  }
  &-portadeMedia{
    height: 320px;
  }
  &-actors{
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
    justify-content: space-between;
  }
  &-navigation{
    display:flex;
    justify-content: center;
  }
  &-fullwidth{
     display:flex;
     flex-direction: column;
  }
  &-portadeMedia{
    position: relative;
  }
  &-portadeMediaTop{
    background: rgba(black,0.5);
    position: absolute;
    z-index: 4;
    bottom: 70px;
    height: 35px;
    width: 100%;
  }
  &-portadeMediaMiddle{
    background: rgba(black,0.7);
    position: absolute;
    z-index: 4;
    bottom: 35px;
    height: 35px;
    width: 100%;
  }
  &-portadeMediaBottom{
    background: #D6D6D6;
    position: absolute;
    z-index: 4;
    bottom: 0;
    height: 35px;
    width: 100%;
    box-shadow: 1px 0px 5px black;
  }
  &-profile{
    background-color: rgba(black,0.9);
    width: 100%;
    height: 400px;
  }
  &-principalContent{
    padding: .5em;
  }
  &-sidebar{

  }
  &--centerFlex{
    display:flex;
    align-content:center;
    justify-content: center;
    align-items: center;
  }
  &-fSidebar{
    padding: 1em;
  }
  &--fSidebarWhite{
    background: white;
  }
  &-topFix{
    margin-top: 45px;
  }
  &-page{ 
    width: 100%;
  }
}
