.MainFooter{
  border-top: .4em solid $mainRed;
  padding: 1em 1em;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  &-logo{
    font-size: 2em;
    color: white;
  }
  &-copyright{
    color: white;
    font-size: .8em;
    font-weight: 200;
  }
}
