.ModuleActor{
    display:flex;
    flex-direction: column;
    padding: 0 1em;
    &-card{
        margin-bottom: 1em;
    }
    &-mainContent{
        background: white;
        box-shadow: 1px 1px 1px rgba(black, 0.5);
        padding: 2em 1.5em;
    }
}