.NotificationSlide{
    position: absolute;
    top: 43px;
    right:0;
    width: 280px;
    background-color: #4D4D4D;
    box-shadow: 1px 2px 5px rgba(black,0.3);
    display:none;
    &-top{

    }
    &-mainText{
        color: white;
        font-size: 13px;
        text-align: center;
        margin: 0;
        padding: 7px;
    }
    &-content{
        position: relative;
        background-color: #5a5a5a;
        max-height: 335px;
        color: white;
        padding: 1.4em;
        font-size: .8em;
    }
    &-bottom{
        display: block;
        padding: 6px 3px;
        font-size: 13px;
        text-align: center;
        background-color: #616161;
        color: white;
    }
}