.PageTitle{
    margin-top: 45px;  
    &-title{
        color: white;
        margin: 0;  
        font-weight: 400;
        font-size: 1.9em;
    }
    &--titleBlack{
        color: $textFont;
    }
    &-infoTop{
        padding: 1em;
    }
    &-subtitle{
        color: white;
        font-weight: 200;
        margin: .5em 0;
    }
    &-bottomFilter{
        background: #222;
        padding: .5em;
        display: flex;
        flex-wrap: wrap;
    }
    &-filter{
        margin-left: .5em;
        margin-bottom: .5em;
        select{
            background: transparent;
            outline: none;
            border: none;
            color: white;
            font-weight: 300;
        }
    }
}