.PortadeMedia{
    position: relative;
    height: 100%;
    &-img{
        width: 100%;
        background-size: cover;
        height: 100%;
        box-shadow: 0px 0px 2em black;
    }
    &-topLeft{
        position: absolute;
        top: 10%;
        right: 12px
    }
    &-points{
        display: flex;
        flex-direction: column;
    }
    &-point{
        color: white;
        font-size: 1em;
        text-shadow: 1px 1px 1px black;
        align-self: flex-end;
        margin-bottom: .5em;
    }
    &-pointInner{
        color: white;
        font-size: 1em;
        text-shadow: 1px 1px 1px black;
        align-self: flex-end;
        margin-bottom: .5em;
        display:none;   
    }
    &-miniDetails{
        color: white;
        font-size: .6em;
        text-transform: uppercase;
        margin: 0;
    }
    &-buttonTrailer{
        text-decoration: none;
        color: white;
        display:block;
        background: $mainRed;
        padding: .6em 1.2em;;
        text-transform: uppercase;
        font-size: .8em;
        margin-bottom: .5em;
        text-align: center;
    }
    &-iconStar{
        color: yellow;
        font-size: 1em;
    }
    &-share{
        text-decoration: none;
        text-align: center;
        color: white;
        display:block;
        background: rgba(black, 0.5);
        padding: .6em 1.2em;
        text-transform: uppercase;
        font-size: .8em;
    }
    &-miniCover{
        position: absolute;
        width: 90px;
        height: 150px;
        border: 2px solid white;
        bottom: 13px;
        left: 21px;
        z-index: 20;
        box-shadow: 0px 0px 4em black;
    }
    &-dateMedia{
        position: absolute;
        bottom: 98px;
        padding: .5em;
        z-index: 4;
        box-sizing: border-box;
        left: 30%;
    }
    &-title{
        color: white;
        text-align: .9em;
        text-shadow: 1px 1px 1px black;
        position: relative;
        margin: 0;
    }
    &-year{
        font-size: .7em;
        color: #CAC7C7;
    }
    &-bottomInner{
        position: absolute;
        bottom: 70px;
        padding: .5em;
        z-index: 4;
        box-sizing: border-box;
        left: 30%;

    }
    &-bottomData{
        position: absolute;
        bottom: 35px;
        display: flex;
        padding: .5em;
        z-index: 18;
        box-sizing: border-box;
        left: 30%;
    }
    &-statMedia{
        color: white;
        margin: 0;
        font-size: .7em;
        margin-right: 1em;
        text-transform: uppercase;
        margin: 0 .7em 0 0
    }
    &-statMediaText{
        color: #CAC7C7;
    }
    &-bottomOut{
        position: absolute;
        bottom: 0;
        padding: .5em;
        z-index: 18;
        box-sizing: border-box;
        left: 30%;
    }
    &-action{
        color: $mainRed;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8em;
        margin-right: 1em;
        transition: .3s all;
        &:hover{
            color: black;
        }

    }

}