@media (min-width: 768px) { 
  .Layout{
    &-streamViews{
      display: none;
      }
    &-mainWrapper{
      flex-direction: row;
      max-width: 1230px;
      margin: 0 auto;
    }
    &-mainContainer{
      width: 80%;
    }
    &-actors{
      padding: .5em 2em;
    }
    &-mediaVideo{
      display: none;
    }
    &-portadeMedia{
      height: 80vh;
    }
    &-portadeVideo{
      width: 720px;
      height: 360px;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-46%, -65%);
      background: rgba(black, 0.4);
    }
    &-films{
    }
    &-principalContent{
      width: 80%;
      padding: 1em;
    }
    &-fullwidth{
      flex-direction: row;
      min-height: 1100px;
    }
    &-fSidebar{
      min-width: 300px;
      position:relative;
    }
    &-sidebarFixed{
      position:fixed;
      width:300px;
    }
    &-fContainer{
      margin: 1em;
      width: 80%;
    }
  }
  .HomeModule{
      padding: 0 .5em;
      margin: 0 1em 1em 1em;
      display:flex;
      &-icon{
        display:flex;
        width: 10px;
        height: 10px;
        align-items: center;
        justify-content: center;
      }
      &-container{
        border-left: 1px solid rgba(gray,0.3);
        margin-left: 1em;
        padding-left: 1em;
        position: relative;
        &:after{
          content: ' ';
          border-left: 1px solid #CCC;
          position: absolute;
          background-color: #f0f0f0;
          width: 10px;
          height: 10px;
          top: 10px;
          left: -6px;
          transform: rotate(45deg);
          border-bottom: 1px solid #CCC;
        }
      }
    }
  .Slide{
    &-content{
      flex-direction: row;
      display: flex;
    }
    &-mainText{
      display: none;
    }
    &-streamViews{
      display: block;
      background: rgba(white,0.7);
      border-radius: .4em;
      box-shadow: 1px 1px 5px black;
      padding: .2em;
      margin-right: 2em;
    }
  }
  .CardNotice{
    width: 333px;
    margin: 0 1em 1em 0;
  }
  .ModuleActor{
    display:flex;
    flex-direction:row;
    &-mainContent{
      margin-left: 1em;
      padding: 2.5em;
    }
  }
  .Actor{
    width: 21%;
    &:nth-child(2n){
      margin-left: 0;
    }
    &-top{
      height: 294px;
    }
  }
  .Comment{
    &-actions{
      width: 75%;
      flex-direction: row;
    }
    &-aText{
      margin-right: .5em;
    }
  }
  .CardActor{
    width: 214px;
  }
  .PortadeMedia{
    &-miniCover{
      width: 173px;
      height: 256px;
      bottom: -37px
    }
    &-title{
      font-size: 1.6em;
    }
    &-dateMedia,
    &-bottomInner,
    &-bottomData,
    &-bottomOut{
      left: 19%;
    }
  }
  .MainMedia{
    flex-direction: row;
    width: 100%;
    &-sidebar{
        display:block;
        width: 20%;
        margin-top: 3em;
        padding: 0 1.6em
    }
    &-content{
        padding: 1em .7em;
        width: 80%;
    }
  }
  .Ads{
    &-728{
      display:block;
    }
  }
  .DetailsMedia{
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    &-main{
      width: 60%;
    }
    &-sinopsis{
      width: 80%;
      margin: 0;
    }
  }
  .FilmView{
    width: 33.33%;
  }
  .PageTitle{
    &-filter{
      select{
        font-size: .9em;
      }
    }
  }
  .ProfileTab{
    text-align: left;
  }
  .Collection{
    &-container{
      margin-top: 1em;
    }
  }
  .Filter{
    padding: 0;
    &-list{
      width: 80%;
      justify-content: flex-end;
    }
    &-element{
      width: initial;
      margin-left: 1em;
      font-weight: 300;
      
    }
  }
  .List{
    width: 33.33%;
  }

}

@media (min-width: 1024px) { 
  .Layout{
    &-slide1{
      height: 100vh;
    }
    &-mainContainer{
      width: 100%;
    }
    &-sidebar{
      width: 44%;
    }
  }
  .HomeModule{
    &-items{
      display:flex;
      overflow: hidden;
      flex-wrap: wrap;
    }
  }
  .CardMedia{
    width: 200px;
    margin: 0 1em 1em 0;
  }
  .CardNotice{
    width: 227px;
    margin: 0 1em 1em 0;
    &-description{
      font-size:.78em;
    }
  }
  .FilmView{
    width: 25%;
  }
  .List{
    width: 20%;
  }
  
}

@media (min-width: 1200px) { 
  .List{
    width: 16.666%;
  }
}

