/* Colors */

$mainRed: #d32f2f;
$secondaryRed: #e53935;
$textFont: #383838;
$textBlueFont:  #00BAE0;
$colorFacebook: #3B5998;
$colorTwitter: #55ACEE;
$colorGooglePlus: #E02F2F;


/* fonts 

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

*/ 

/* Imports */

@import 'normalize';
/* ------------- */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #F0F0F0;
}

p{
  line-height: 1.7em;
  color: $textFont;
  font-size: .9em;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
  color: $textFont;
}
textarea:focus, input:focus{
    outline: 0;
}
/* 1. Layouts */

@import 'layout';

/* 2. Header  */

@import 'mainTop';

/* 3 Items */

.Slide{
  display: flex;
  align-content:center;
  align-items:center;
  height: 100%;
  padding: 0 1em ;
  &-content{
    margin: 0 auto;
  }
  &-mainText{
    font-size: 1.8em;
    color:white;
    font-syle:italic;
    text-align: center;
    font-weight: 300;
    margin: 0;
  }
  &-session{
    margin: 2em auto;
  }
  &-streamViews{
    display: none;
  }
}

.InfoStats{
  padding: .7em 0;
  text-align: center;
  &-mainText{
    margin: 0;
    color: white;
    font-size: 1.3em;
  }
  &-text{
    color: white;
    font-weight: 200;
    font-size: 1.1em;
  }
}

.WhatView{
  height: 100%; 
  display: flex;
  align-items: center;
  padding: 0 1em;
  &-wrapper{
    margin: 0 auto;    
  }
  &-mainText{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.8rem;
  }
  &-text{
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px rgba(black,0.6);
    text-align: center;
  }
}
.StreamViews{
  padding: 0 .9em;
  &-title{
    color : $secondaryRed;
    font-size: 1.3em;
  }
}

.Featured{
  text-align: center;
  margin: 2rem 0;
  &-icon{
    color: $secondaryRed;
    font-size: 5em;
    margin: 0;
  }
  &-title{
    font-size: 1.5em;
    color:$textFont;
    font-weight: 300;
    margin: .5em 0;
  }
  &-infoText{
    font-weight: 200;
    padding: 0 2em ;
    margin: .5em 0;
  }
}

.FlashView{
  display:  flex;
  margin: 1.2em 0;
  &-img{
    border-radius:50%;
    width: 49px;
    height: 100%;
    margin-right: 1em;
  }
  &-content{
    flex-basis: 80%;
  }
  &-textAction{
    font-size: .8em;
    font-color: $textFont;
  }
  &-time{
    margin:0;
    font-size: .7em;
    font-weight: 300;
    font-color: $textFont;
  }
  &-coverMedia{
    width: 40px;
    height: 100%;
  }
  &--darkAction{
    color :#757575;
    b{
      color: #B0B0B0;
    }
  }
  &--darkTime{
    color: #B0B0B0;
  }
}

.CheckAll{
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100%;
  &-title{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.8rem;
  }
  &-text{
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px rgba(black,0.6);
    text-align: center;
  }
}
.Login{
  &-front{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  &-field{
    width: 300px;
    margin: .3em 0;
  }
  &-input{
    width: 100%;
    height: 50px;
    padding: .7em;
    border: none;
    box-sizing: border-box;
    font-weight:300;
  }
  &-submit{
    width: 100%;
    height: 50px;
    background: $mainRed;
    border: none;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  &-actions{
    width: 300px;
  }
  &-registerButton{
    width: 100%;
    background: rgba(black,0.4);
    text-decoration: none;
    color:white;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: .6em 0;
    text-align: center;
  }
  &-socialLogin{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: .9em 0;
    align-content: center;
    align-items: center;
  }
  &-facebook,
  &-twitter,
  &-google{
    padding: .3em 1em;
    font-size: 1.5em;
    color: white;
  }
  &-facebook{
    background: $colorFacebook;
    padding: .3em 1em;
  }
  &-twitter{
    background: $colorTwitter;
  }
  &-google{
    background: $colorGooglePlus;
  }
}

.SocialMini{
  &-text{
    color: white;
    font-size: 1.1em;
  }
  &-link{
    color: white;
    text-decoration: none;
    font-size: 1.8em;
  }
}

.Session{
  background: #f3f3f3;
  min-width: 320px;
  &-titleContainer{
    background: $secondaryRed;
  }
  &-title{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
    padding: .8em 0;
    margin:0;
    text-align:center;
    font-weight: 700;
    font-size: 1.3em;
  }
  &-subtitle{
    font-weight: 200;
    font-size: 0.9rem;
    text-align: center;
  }
  &-login{
  }
  &-bottom{
    background:#dadada;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  &-text{
    text-weight: 300;
    margin-right: .5em;
    font-size: 0.9em;
  }
  &-linkRegister{
    color: $secondaryRed;
    font-weight: 500;
    font-size:.9em;
    text-decoration: none;
  }

}

.Notification{
  display:flex;
  align-items:center;
  position: relative;
  &-icon{
    color: #E9E7E7;
    font-size: 1.4em;
    cursor:pointer;
    text-decoration: none;
  }
  &-number{
    border-radius: 10px;
    background: $mainRed;
    color: white;
    padding: .2em;
    font-size: .7em;
    margin-left: -.3em;
  }
}

.Avatar{
  width: 100%;
  &-img{
    border-radius: 50%;
    width: 100%;
  }
}

.CardHome{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  &-avatar{
    width: 50px;
  }
  &-top{
    text-align: center;
  }
  &-titleName{
    color: white;
    font-size: 1.4em;
    margin: 0;
  }
  &-subtitle{
    color: white;
    text-transform: uppercase;
  }
}

@import 'homeModule';
@import 'cardMedia';
@import 'cardNotice';
@import 'sidebar';
@import 'homeModuleUser';
@import 'widget';
@import 'followCard';
@import 'moduleFollow';
@import 'notificationSlide';
@import 'filmView';
@import 'language';
@import 'pageTitle';



@import 'mobileMediaVideo';
@import 'portadeMedia';
@import 'mainMedia';
@import 'detailsMedia';
@import 'fans';
@import 'slidePeoples';
@import 'critics';
@import 'formComment';
@import 'comment';
@import 'actor';
@import 'navigation';
@import 'moduleActor';
@import 'cardActor';
@import 'infoActor';
@import 'sidebarLeft';
@import 'profileCover';
@import 'button';
@import 'profileTab';
@import 'filterControl';
@import 'collection';
@import 'filter';
@import 'filterFull';
@import 'list';
.Ads{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  &-box{
    width:320px;
    height: 250px;
    background: grey;
  }
  &-728{
    display:none;
    width: 728px;
    height: 90px;
    background: gray;
  }
}

/* 4. Footer */

@import 'mainFooter';

/* 5. Responsive - Mobile First */

@import 'responsive';

/*6 HJelpers */

@import 'helpers';
